footer
    nav
        ul.footer-nav-ul
            li.footer-nav-list
                a.footer-nav-links(href='')  About Us
            li.footer-nav-list
                a.footer-nav-links(href='')  iosApp
            li.footer-nav-list
                a.footer-nav-links(href='')  AndroidApp
            .space-in-footer
            li.footer-nav-list
                a.footer-nav-links(href='')
                    i.fab.fa-facebook-square.ic
            li.footer-nav-list
                a.footer-nav-links(href='')
                    i.fab.fa-twitter-square.ic
            li.footer-nav-list
                a.footer-nav-links(href='')
                    i.fab.fa-instagram-square.ic
            li.footer-nav-list
                a.footer-nav-links(href='')
                    i.fab.fa-snapchat-square.ic
        ul.footer-nav-ul
            li.copyright
                | COPYRIGHT 
                i.far.fa-copyright
                |             2020 EVERYONE. All rights reserved.
