.showcase
    h1.main-heading
        | MEAL PLANS.
        br
        |  FOR 
        span#span-detector
    .btns-container
        a.btn.btn-full(href='')
            | Book  Now
        a.btn.btn-empty(href='')
            | Show me More
