extend base
block content
    section.features
            .premium-container
                h2 START EATING HEALTHY TODAY
                .space
                .prem-container.plans
                    for plan in plans
                        include planCard