doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto&display=swap')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Pacifico&display=swap')
        link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='../css/forgot-pass.css')
    body
        header
            .reset-passwords
                h2 RESET PASSWORD 
                hr
                p.content  To reset your password, please enter your new password.
                form
                    .email-id
                        label(for='password') New Password* 
                        div
                        .form-entry
                            input#reset-password(type='password', placeholder='Your Password', name='password')
                    .email-id
                        label(for='password') Confirm Password 
                        div
                        .form-entry
                            input#reset-confirmPassword(type='password', placeholder='Re-enter your password', name='password')
                    p.comment  (*) mandatory fields.
                    .button
                        a.btn.resetPassword(type='submit', data-token=`${token}`) Change Password
    script(src="https://unpkg.com/axios/dist/axios.min.js")
    script(src='../js/resetPassword.js')
    