section.reviews
    h2 REVIEWS
    .review-parent
        //- - var n=3;
        //- while n>0
        //-     include comments
        //-     - n--;
        for review in reviews
            include comments