form.signup-form
    .form-entry
        i.fas.fa-user.icon
        input#signup-name(type='text', placeholder='User name', name='name')
    .form-entry
        i.fas.fa-envelope.icon
        input#signup-email(type='email', placeholder='Your Email', name='email')
    .extras
        .blank
        label.age(for='age') Age
        .form-entry
            input#signup-age(type='number', placeholder=' ', name='age')
    .form-entry
        i.fas.fa-key.icon
        input#signup-password(type='password', placeholder='Enter your password', name='password')
        i.far.fa-eye.icon(onclick='signupChangeIcon(this)')
    .form-entry
        i.fas.fa-key.icon
        input#signup-confirmPassword(type='password', placeholder='Re-enter your password', name='password')
    .extras
        .male
            input#signup-male(type='radio', name='gender', value='male')
            label(for='male') Male
        .female
            input#signup-female(type='radio', name='gender', value='female')
            label(for='female') Female
        .other
            input#signup-other(type='radio', name='gender', value='other')
            label(for='other') Other
    .extras
        input(type='checkbox', id='', name='', checked='')
        p I have read and agree with all the Privacy Policy and Terms of Conditions
    .extras
        .blank
        .form-entry
            a.btn.btn-full.form-button.signup-button(href='javascript:;') Signup
        .blank
